  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
 .result_para_tag span{
  white-space: pre-line;
 }
 .copy_right_footer{
   background-color: gray;
   position: fixed;
   bottom: 0px;
   width: 100%;
   line-height: 2;
   text-align: center;
   font-size: 16px;
   font-weight: bold;
   color: black;
   font-family: 'Montserrat', sans-serif;
 }
 canvas{
   border: 5px solid gray;
   border-radius: 20px;
   margin-top: 175px;
   box-shadow:5px 5px 5px lightslategrey;
 }